@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Lexend', sans-serif;
  --primary-text-color: #000;
  --secondary-text-color: #888888;
}

h1 {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-text-color);
}

h2 {
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--secondary-text-color);
}

.default-font {
  font-family: var(--primary-font);
}